input[type=email],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
}

  input[checkbox],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
div{
background-color:rgb(84, 110, 101);
  width: 300px;
  padding: 50px;
  margin: 20px;
}